body{
margin: 0;
background-color: #055565;
font-family: sans-serif;

}
.todo-container{
    width: 350px;
    margin: auto;
    text-align: center;
    margin-top: 120px;
}

.input-section{
    background-color:  #064854;
    padding: 18px;
    border-radius:10px ;
    box-shadow: 0 7px 6px #0000003d;
}  

.input-section input{
  border-radius: 5px;
  border: 1px solid  #09788f;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #055565;
  outline: none;
  color:#08869e ;
  
   
}
input::placeholder{
    color: #08869e;
}

 h1{
    margin: 0;
    margin-bottom: 50px;
    color:  #0c7588;
} 

ul{
    padding: 0;
    text-align: left;
}
ul li{
     display: flex; 
    list-style: none;
    background-color:  #064854;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color:  #08869e;
     box-shadow: 0 4px 6px #000000a3;
}
ul li i {
    text-align: right;
    flex: 1;
    cursor: pointer;
}